main {
  padding: 57px 27px;
  
}

.App.dark main {
  color: #FFFFFF;
}

main .content-title {
  font-size: 2.438rem;
  letter-spacing: -0.05em;
}

main .list-facts {
  margin-top: 46px;
  max-width: 400px;
}

main .list-facts > li {
  line-height: 1.188rem;
  padding-block: 10px;
}

main .list-facts > li::marker {
  color:#61DAFB;
  font-size: 1.4rem;
}