.App {
  height: 100vh;
  background-color: #FFFF;
  background-image: url("./images/logo-ligth.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
}
.App.dark {
  background-color: #282D35;
  background-image: url("./images/logo-grey.svg");
}

footer {
  background-color: black;
  color: #33373E;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
