.app .logo {
  width: 150px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav .nav-menu {
  list-style-type: none;
  display: flex;
}

nav .nav-menu > li {
  padding: 10px;
}
